@media (min-width: 416px) and (max-width: 692px) {
    .content__text {
        font-size: 16px;
        height: 59px;
    }
}

@media screen and (min-width: 700px) {

    .swiper.swiper-initialized.swiper-horizontal {
        display: none;
    }

    .container {
        max-width: 768px;
        padding: 0 24px;
    }

    .main__title svg {
        left: -10%;
    }

    .mobil__contact {
        display: block;
    }

    .mobil__service {
        position: relative;
        margin-left: 42px;
    }

    .mobil__service:after {
        content: "";
        position: absolute;
        left: -33px;
        bottom: 9px;
        width: 2px;
        height: 32px;
        background: #EAEAEA;
    }

    .mobil__svg {
        margin-right: 16px;
    }

    .mobil__left:after {
        content: "";
        position: absolute;
        left: 61px;
        width: 2px;
        height: 32px;
        background: #EAEAEA;
    }

    .mobil__logo {
        margin: 0;
    }

    .mobil__burger-menu {
        margin-right: 42px;
    }

    .content {
        display: flex;
        justify-content: space-between;
    }

    .content__article {
        width: 50%;
    }

    .content__text {
        max-width: 348px;
        height: 160px;
        font-size: 16px;
    }

    .content__image {
        width: 45%;
    }

}

@media screen and (min-width: 730px) {
    .brand__list-technique {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 24px;
        row-gap: 16px;

        margin-bottom: 24px;
    }

    .brand__item {
        position: relative;
        min-width: 224px;
        min-height: 72px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 0;
        border-radius: 6px;
        border: 1px solid #EAEAEA;
        background: #FFF;
    }

    .brand__link {
        width: 100%;
        height: 100%;
        padding: 16px;
    }

    .brand-logo {
        max-width: 128px;
        max-height: 32px;
    }

    .more-buttom {
        display: flex;
    }

    .brand__item {
        display: none;
    }

    .brand__item:nth-last-child(n+9) {
        display: flex;
    }

    .brand__item.brand__item--avtive {
        display: flex;
    }

    .more-buttom {
        display: flex;
    }

    .more-buttom__svg {
        margin-right: 9px;
        transform: rotate(0);
        transition: transform 0.5s;
    }

    .more-buttom__svg--transform {
        transform: rotate(180deg);
        transition: transform 0.5s;
    }
}

@media screen and (min-width: 900px) {
    .container {
        max-width: 1120px;
    }

    .title svg {
        position: absolute;
        top: -4%;
        left: -10%;
    }

    .mobil {
        display: none;
    }

    .menu {
        display: none;
    }

    .menu {
        background-color: transparent;
    }

    .menu__desktop {
        display: flex;
        justify-content: space-between;
    }

    .main__title svg {
        left: -12%;
    }

    .main__list_desktop,
    .main__list {
        display: flex;
        list-style-type: none;

        padding: 0;
        margin: 0;
    }

    .main__service-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .main__service-item:nth-child(1) {
        padding-right: 32px;
    }

    .link {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .link__span {
        padding-right: 8px;
    }

    .content {
        display: flex;
    }

    .content__article {
        width: 55%;
        overflow: auto;
        margin-right: 20px;
    }

    .content__image {
        width: 50%;
    }

    .content__text {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .text {
        display: block;
    }

}

@media screen and (max-width: 1110px) {
    .brand__list-technique {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1120px) {
    
    .brand__list-technique {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1057px) {

    .main__navigation {
        padding-bottom: 16px;
    }

    .container {
        max-width: 1120px;
    }

    .main__list_desktop {
        display: flex;
    }


    .main__list {
        flex-wrap: wrap;
    }

    .content__text {
        max-width: 100%;
        height: 100%;
    }

    .brand__item {
        display: none;
        min-width: 240px;
    }

    .brand__item:nth-last-child(n+7) {
        display: flex;
    }


    .type-technique__item {
        display: none;
    }

    .type-technique__item:nth-last-child(n+2) {
        display: flex;
    }
}